html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font: 24px Arial, sans-serif;
}

h2 {
  font: 20px Arial, sans-serif;
}

p {
  font: 16px Arial, sans-serif;
}

main {
  width: 100%;
  margin: 0;
}

#symbol_map {
  width: 100%;
  max-width: 100vw;
}

#symbol_map .vega-embed,
#symbol_map .vega-embed > * {
  width: 100% !important;
}
